@media screen and (min-width: 900px) {
  .children {
    /* position: relative; */
    /* z-index: 8; */
  }
  .sidebar,
  .sidebar1 {
    position: fixed;
    display: flex;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 150px;
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1px;
  }
  .menu {
    display: none;
  }
  .logo {
    height: 30px;
    width: 110px;
    object-fit: cover;
    margin-bottom: 50px;
  }
  .name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    color: gray;
  }
  .name::first-letter {
    color: rgb(232, 43, 43);
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px 0;
    margin: 1px 5px;
    border-radius: 5px;
    background-color: #ffffff;
  }
  .links_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px 0;
    margin: 1px 5px;
    border-radius: 5px;
    background-color: #f4f4f4;
  }

  .links p {
    font-size: 13px;
    font-weight: 440;
    color: black;
  }
  .links_active p {
    font-size: 13px;
    font-weight: 480;
  }
  .menu_div {
    display: none;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .children {
    /* position: relative; */
    /* z-index: 8; */
  }
  .sidebar {
    position: fixed;
    display: flex;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 30vw;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1px;
  }
  .sidebar1 {
    position: fixed;
    display: none;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 150px;
    padding: 20px 0;
    background-color: rgb(218, 206, 206);
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1px;
  }
  .menu_div {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1px;
    height: 40px;
  }
  .menu {
    position: fixed;
    top: 12px;
    left: 12px;
    border-radius: 5px;
    color: rgb(63, 63, 63);
  }
  .logo {
    height: 30px;
    width: 110px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  .name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: gray;
  }
  .name::first-letter {
    color: rgb(232, 43, 43);
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px 0;
    margin: 1px 5px;
    border-radius: 5px;
    background-color: #ffffff;
  }
  .links_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px 0;
    margin: 1px 5px;
    border-radius: 5px;
    background-color: #f4f4f4;
  }

  .links p {
    font-size: 13px;
    font-weight: 440;
    color: black;
  }
  .links_active p {
    font-size: 13px;
    font-weight: 480;
  }
}
@media screen and (max-width: 520px) {
  .children {
    /* position: relative; */
    /* z-index: 8; */
  }
  .sidebar {
    position: fixed;
    display: flex;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 40vw;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1px;
  }
  .sidebar1 {
    position: fixed;
    display: none;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 150px;
    padding: 20px 0;
    background-color: rgb(218, 206, 206);
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1px;
  }
  .menu_div {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1px;
    height: 40px;
  }
  .menu {
    position: fixed;
    top: 12px;
    left: 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
  }
  .logo {
    height: 30px;
    width: 110px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  .name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: gray;
  }
  .name::first-letter {
    color: rgb(232, 43, 43);
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px 0;
    margin: 1px 5px;
    border-radius: 5px;
    background-color: #ffffff;
  }
  .links_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px 0;
    margin: 1px 5px;
    border-radius: 5px;
    background-color: #f4f4f4;
  }

  .links p {
    font-size: 13px;
    font-weight: 440;
    color: black;
  }
  .links_active p {
    font-size: 13px;
    font-weight: 480;
  }
}
