@media screen and (min-width: 900px) {
  .outer_div {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    padding-left: 150px;
    padding-top: 20px;
  }
  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 5vw;
  }
  .topbar p {
    font-size: 18px;
    font-weight: 550;
    color: rgb(54, 54, 54);
  }
  .btn1,
  .btn2,
  .btn3 {
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 13px;
    color: white;
    font-weight: 500;
  }
  .btn1 {
    background-color: rgb(66, 189, 161);
  }
  .btn2 {
    background-color: rgb(188, 58, 58);
  }
  .btn3 {
    background-color: rgb(92, 128, 220);
  }
  .report {
    display: flex;
    align-items: center;
    padding: 20px 5vw;
    background-color: #ffffff;
  }
  .report p {
    font-size: 14px;
    margin: 0 10px;
    font-weight: 540;
  }
  .arrow_left {
    font-size: 13px;
  }
  .option_outer_div {
    display: flex;
    align-items: flex-start;
    padding: 0 5vw;
  }
  .option {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-between;
    padding: 17px 40px;
    margin: 6px 0;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .option p {
    font-weight: 510;
    font-size: 13px;
    color: rgb(0, 0, 0);
  }
  .angle_down {
    font-size: 17px;
    color: rgb(91, 91, 91);
    cursor: pointer;
  }
  .preview {
    user-select: none;
    padding: 10px 5vw;
    font-weight: 540;
    font-size: 14px;
    margin-top: 20px;
  }
  .test_div {
    background-color: #ecdede;
    width: 800px;
  }
  .test {
    padding: 0 200px;
    font-size: 30px;
    line-height: 1.4;

    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
}
@media screen and (max-width: 520px) {
}
