@media screen and (min-width: 900px) {
  @keyframes border-blink {
    0% {
      box-shadow: rgb(44, 161, 197) 0px 0px 7px 1.3px;
    }

    50% {
      box-shadow: rgb(44, 161, 197) 0px 0px 7px 1.3px;
    }
  }
  @keyframes border-blink2 {
    0% {
      box-shadow: rgb(44, 161, 197) 0px 0px 7px 1.3px;
    }

    50% {
      box-shadow: rgb(44, 161, 197) 0px 0px 7px 1.3px;
    }
  }
  @keyframes border-blink3 {
    0% {
      box-shadow: rgb(44, 161, 197) 0px 0px 7px 1.3px;
    }

    50% {
      box-shadow: rgb(44, 161, 197) 0px 0px 7px 1.3px;
    }
  }
  .main {
    display: flex;
    align-items: flex-start;
  }
  .outer_div {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 33vw;
    animation: border-blink 1s steps(1) 1;
    animation-timing-function: ease-in-out;
    /* max-height: 500px; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px 40px;

    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title p {
    font-size: 14px;
    font-weight: 510;
  }
  .angle_up {
    font-size: 17px;
    color: rgb(91, 91, 91);
    cursor: pointer;
  }
  .intro_btn {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 10px 0px 5px 0px;
    width: 24vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  .intro_btn1 {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 10px 0px 5px 0px;
    width: 24vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .conc_btn {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 5px 0px 5px 0px;
    width: 24vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  .add_attachment_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 260px;
    min-height: 50px;
    width: 24vw;
    /* margin-left: 40px; */
    padding: 4px 0px;
    border-radius: 5px;
    overflow: scroll;
    background-color: #ffffff;
    border: 9px solid white;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }

  .prev_image {
    resize: both;
    width: 14vw;
    object-fit: contain;
    height: 190px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .conc_btn1 {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 5px 0px 5px 0px;
    width: 24vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .add_attach {
    font-size: 13px;
    font-weight: 510px;
    padding: 10px 0;
  }
  .tables {
    display: flex;
    width: 21vw;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
    margin: 2px 0px;
    border-radius: 5px;
    padding: 15px 40px;
    background-color: #f4f4f4;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .tables1 {
    display: flex;
    width: 21vw;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
    margin: 2px 0px;
    border-radius: 5px;
    padding: 15px 40px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .tables p,
  .tables1 p {
    font-size: 13px;
    font-weight: 510;
  }
  .logos {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
  }
  .logo1,
  .logo2,
  .logo3 {
    margin: 0px 7px;
    font-size: 15px;
  }
  .logo1 {
    color: black;
  }
  .logo2 {
    color: rgb(91, 91, 203);
  }
  .logo3 {
    color: rgb(198, 84, 84);
  }
  .add_attach_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    margin: 10px 0;
    width: 12vw;
    height: 45px;
    background-color: rgb(66, 189, 161);
  }
  .outer_div2 {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 33vw;
    height: 300px;
    animation: border-blink 1s steps(1) 1;
    animation-timing-function: ease-in-out;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .outer_div4 {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 33vw;
    height: 300px;
    animation: border-blink3 1s steps(1) 1;
    animation-timing-function: ease-in-out;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .introduction {
    font-size: 14px;
    font-weight: 510;
  }
  .intro_textarea {
    outline: 0;
    resize: none;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 15px 0px 5px 0px;
    width: 26vw;
    padding: 10px;
    font-size: 14px;
    height: 200px;
  }
  .items {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 33vw;
    /* height: 500px; */
    animation: border-blink2 1s steps(1) 1;
    animation-timing-function: ease-in-out;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .add_attach_title {
    font-size: 14px;
    font-weight: 510;
  }
  .des {
    font-size: 13px;
    font-weight: 510;
    padding: 10px 0;
  }
  .client_input,
  .client_input:focus {
    border: none;
    height: 45px;
    margin: 0px 0px 5px 0px;
    width: 24vw;
    padding: 2px 10px;
    font-size: 13px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  .img {
    resize: both;
    width: 14vw;
    object-fit: cover;
    height: 190px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* background-color: #dcdcdc; */
    border: 1px dashed black;
    /* height: 150px; */
  }
  .avatar {
    resize: both;
    width: 14vw;
    object-fit: contain;
    height: 190px;
    border-radius: 5px;
    margin-bottom: 10px;

    /* height: 150px; */
  }
  .add_btn,
  .delete_btn {
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 13px;
    margin-top: 10px;
    color: white;
  }
  .add_btn {
    background-color: rgb(66, 189, 161);
  }
  .delete_btn {
    background-color: rgb(188, 58, 58);
  }
  .suggestion {
    position: fixed;
    right: 10px;
    top: 1vh;
    height: 98vh;
    width: 400px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
    animation: border-blink 1s steps(1) 1;
    animation-timing-function: ease-in-out;
    border-radius: 6px;
  }
  .suggestion1 {
    display: none;
  }
  .suggestion_inner_div {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgb(246, 247, 247);
    border-radius: 3px;
    margin: 4px 8px;
    padding: 15px 15px;
  }
  .suggestion_inner_div p {
    font-size: 12px;
  }
  .suggestion_option {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .suggestion_option p {
    font-size: 13px;
    font-weight: 520;
  }
  .scrollBar {
    height: 92%;
    overflow: scroll;
  }
  .arrow_back {
    font-size: 14px;
    cursor: pointer;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .outer_div {
    display: flex;
    flex-direction: column;
    width: 93vw;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: #f6f6f6;
    border: 1px solid rgb(229, 229, 229);
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title p {
    font-size: 14px;
    font-weight: 510;
  }
  .angle_up {
    font-size: 17px;
    color: rgb(91, 91, 91);
    cursor: pointer;
  }
  .intro_btn {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 10px 0px 5px 0px;
    width: 80vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #e6e6e6;
    border-radius: 5px;
  }
  .intro_btn1 {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 10px 0px 5px 0px;
    width: 80vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #e5e5e5;
    border-radius: 5px;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .conc_btn {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 5px 0px 5px 0px;
    width: 80vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #e5e5e5;
    border-radius: 5px;
  }
  .add_attachment_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 158px;
    width: 80vw;
    /* margin-left: 40px; */
    padding: 4px 0px;
    border-radius: 5px;
    overflow: scroll;
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }

  .prev_image {
    resize: both;
    width: 60vw;
    object-fit: contain;
    height: 190px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .conc_btn1 {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 5px 0px 5px 0px;
    width: 80vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #e5e5e5;
    border-radius: 5px;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .add_attach {
    font-size: 13px;
    font-weight: 510px;
    padding: 10px 0;
  }
  .tables {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
    margin: 2px 5px;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: #f4f4f4;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .tables1 {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
    margin: 2px 5px;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .tables p,
  .tables1 p {
    font-size: 13px;
    font-weight: 510;
  }
  .logos {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
  }
  .logo1,
  .logo2,
  .logo3 {
    margin: 0px 7px;
    font-size: 15px;
  }
  .logo1 {
    color: black;
  }
  .logo2 {
    color: rgb(91, 91, 203);
  }
  .logo3 {
    color: rgb(198, 84, 84);
  }
  .add_attach_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    margin: 10px 0;
    width: 40vw;
    font-weight: 600;
    height: 45px;
    color: rgb(66, 189, 161);
    background-color: #e5e5e5;
    border: 1px solid rgb(229, 229, 229);
  }
  .outer_div2 {
    display: flex;
    flex-direction: column;
    width: 93vw;
    /* height: 300px; */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #f6f6f6;
    border: 1px solid rgb(229, 229, 229);
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .introduction {
    font-size: 14px;
    font-weight: 510;
  }
  .intro_textarea {
    outline: 0;
    resize: none;
    border: none;
    background-color: #e5e5e5;
    border-radius: 5px;
    margin: 15px 0px 5px 0px;
    width: 80vw;
    padding: 10px;
    font-size: 14px;
    height: 200px;
  }
  .items {
    display: flex;
    flex-direction: column;
    width: 93vw;
    /* height: 500px; */
    margin-top: 10px;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: #f5f5f5;
    border: 1px solid rgb(229, 229, 229);
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .add_attach_title {
    font-size: 14px;
    font-weight: 510;
  }
  .des {
    font-size: 13px;
    font-weight: 510;
    padding: 10px 0;
  }
  .client_input,
  .client_input:focus {
    border: none;
    height: 45px;
    margin: 0px 0px 5px 0px;
    width: 80vw;
    padding: 2px 10px;
    font-size: 13px;
    background-color: #e5e5e5;
    border-radius: 5px;
  }
  .img {
    resize: both;
    width: 60vw;
    object-fit: cover;
    height: 190px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* background-color: #dcdcdc; */
    border: 1px dashed black;
    /* height: 150px; */
  }
  .avatar {
    resize: both;
    width: 60vw;
    object-fit: contain;
    height: 190px;
    border-radius: 5px;
    margin-bottom: 10px;

    /* height: 150px; */
  }
  .add_btn,
  .delete_btn {
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 13px;
    border: 1px solid rgb(229, 229, 229);
    margin-top: 10px;
    font-weight: 600;
    background-color: #e5e5e5;
  }
  .add_btn {
    color: rgb(66, 189, 161);
  }
  .delete_btn {
    color: rgb(188, 58, 58);
  }
}
@media screen and (max-width: 520px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .outer_div {
    display: flex;
    flex-direction: column;
    width: 93vw;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: #f6f6f6;
    border: 1px solid rgb(229, 229, 229);
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title p {
    font-size: 14px;
    font-weight: 510;
  }
  .angle_up {
    font-size: 17px;
    color: rgb(91, 91, 91);
    cursor: pointer;
  }
  .intro_btn {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 10px 0px 5px 0px;
    width: 80vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #e6e6e6;
    border-radius: 5px;
  }
  .intro_btn1 {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 10px 0px 5px 0px;
    width: 80vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #e5e5e5;
    border-radius: 5px;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .conc_btn {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 5px 0px 5px 0px;
    width: 80vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #e5e5e5;
    border-radius: 5px;
  }
  .add_attachment_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 158px;
    width: 80vw;
    /* margin-left: 40px; */
    padding: 4px 0px;
    border-radius: 5px;
    overflow: scroll;
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }

  .prev_image {
    resize: both;
    width: 60vw;
    object-fit: contain;
    height: 190px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .conc_btn1 {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 5px 0px 5px 0px;
    width: 80vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #e5e5e5;
    border-radius: 5px;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .add_attach {
    font-size: 13px;
    font-weight: 510px;
    padding: 10px 0;
  }
  .tables {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
    margin: 2px 5px;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: #f4f4f4;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .tables1 {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
    margin: 2px 5px;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .tables p,
  .tables1 p {
    font-size: 13px;
    font-weight: 510;
  }
  .logos {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
  }
  .logo1,
  .logo2,
  .logo3 {
    margin: 0px 7px;
    font-size: 15px;
  }
  .logo1 {
    color: black;
  }
  .logo2 {
    color: rgb(91, 91, 203);
  }
  .logo3 {
    color: rgb(198, 84, 84);
  }
  .add_attach_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    margin: 10px 0;
    width: 40vw;
    font-weight: 600;
    height: 45px;
    color: rgb(66, 189, 161);
    background-color: #e5e5e5;
    border: 1px solid rgb(229, 229, 229);
  }
  .outer_div2 {
    display: flex;
    flex-direction: column;
    width: 93vw;
    /* height: 300px; */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #f6f6f6;
    border: 1px solid rgb(229, 229, 229);
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .introduction {
    font-size: 14px;
    font-weight: 510;
  }
  .intro_textarea {
    outline: 0;
    resize: none;
    border: none;
    background-color: #e5e5e5;
    border-radius: 5px;
    margin: 15px 0px 5px 0px;
    width: 80vw;
    padding: 10px;
    font-size: 14px;
    height: 200px;
  }
  .items {
    display: flex;
    flex-direction: column;
    width: 93vw;
    /* height: 500px; */
    margin-top: 10px;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: #f5f5f5;
    border: 1px solid rgb(229, 229, 229);
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .add_attach_title {
    font-size: 14px;
    font-weight: 510;
  }
  .des {
    font-size: 13px;
    font-weight: 510;
    padding: 10px 0;
  }
  .client_input,
  .client_input:focus {
    border: none;
    height: 45px;
    margin: 0px 0px 5px 0px;
    width: 80vw;
    padding: 2px 10px;
    font-size: 13px;
    background-color: #e5e5e5;
    border-radius: 5px;
  }
  .img {
    resize: both;
    width: 60vw;
    object-fit: cover;
    height: 190px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* background-color: #dcdcdc; */
    border: 1px dashed black;
    /* height: 150px; */
  }
  .avatar {
    resize: both;
    width: 60vw;
    object-fit: contain;
    height: 190px;
    border-radius: 5px;
    margin-bottom: 10px;

    /* height: 150px; */
  }
  .add_btn,
  .delete_btn {
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 13px;
    border: 1px solid rgb(229, 229, 229);
    margin-top: 10px;
    font-weight: 600;
    background-color: #e5e5e5;
  }
  .add_btn {
    color: rgb(66, 189, 161);
  }
  .delete_btn {
    color: rgb(188, 58, 58);
  }
}
