@media screen and (min-width: 900px) {
  .main {
    display: flex;
  }
  .outer_div {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 33vw;
    height: 500px;
    margin-top: 40px;
    border-radius: 8px;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title p {
    font-size: 14px;
    font-weight: 510;
  }
  .angle_up {
    font-size: 17px;
    color: rgb(91, 91, 91);
    cursor: pointer;
  }
  .intro_btn {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 10px 0px 5px 0px;
    width: 24vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  .intro_btn1 {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 10px 0px 5px 0px;
    width: 24vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .conc_btn {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 5px 0px 5px 0px;
    width: 24vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  .conc_btn1 {
    display: flex;
    align-items: center;
    border: none;
    height: 45px;
    margin: 5px 0px 5px 0px;
    width: 24vw;
    padding: 2px 40px;
    font-size: 13.5px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .add_attach {
    font-size: 13px;
    font-weight: 510px;
    padding: 10px 0;
  }
  .tables {
    display: flex;
    width: 24vw;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
    margin: 5px 0px;
    border-radius: 5px;
    padding: 15px 40px;
    background-color: #f4f4f4;
    /* box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px; */
  }
  .tables1 {
    display: flex;
    width: 24vw;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
    margin: 5px 0px;
    border-radius: 5px;
    padding: 15px 40px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .tables p,
  .tables1 p {
    font-size: 13px;
    font-weight: 510;
  }
  .logos {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
  }
  .logo1,
  .logo2,
  .logo3 {
    margin: 0px 7px;
    font-size: 15px;
  }
  .logo1 {
    color: black;
  }
  .logo2 {
    color: rgb(91, 91, 203);
  }
  .logo3 {
    color: rgb(198, 84, 84);
  }
  .add_attach_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    margin: 10px 0;
    width: 12vw;
    height: 45px;
    background-color: rgb(66, 189, 161);
  }
  .outer_div2 {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 33vw;
    height: 300px;
    margin-top: 40px;
    border-radius: 8px;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .introduction {
    font-size: 14px;
    font-weight: 510;
  }
  .intro_textarea {
    outline: 0;
    resize: none;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 15px 0px 5px 0px;
    width: 26vw;
    padding: 10px;
    font-size: 14px;
    height: 200px;
  }
  .items {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 33vw;
    height: 500px;
    margin-top: 40px;
    border-radius: 8px;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .add_attach_title {
    font-size: 14px;
    font-weight: 510;
  }
  .des {
    font-size: 13px;
    font-weight: 510;
    padding: 10px 0;
  }
  .client_input,
  .client_input:focus {
    border: none;
    height: 45px;
    margin: 0px 0px 5px 0px;
    width: 24vw;
    padding: 2px 10px;
    font-size: 13px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  .img {
    width: 24vw;
    height: 100px;
    border: 1px dashed #c0bfbf;
    border-radius: 5px;
  }
  .add_btn,
  .delete_btn {
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 13px;
    margin-top: 10px;
    color: white;
  }
  .add_btn {
    background-color: rgb(66, 189, 161);
  }
  .delete_btn {
    background-color: rgb(188, 58, 58);
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
}
@media screen and (max-width: 520px) {
}
